.loading{

    display:flex;

    justify-content:center;

    align-items:center;

    height:300px;

}

.spinner{

    width:60px;

    height:60px;

    border:6px solid #ddd;

    border-top:6px solid #C0392B;

    border-radius:50%;

    animation:spin 1s linear infinite;

}

@keyframes spin{

    100%{

        transform:rotate(360deg);

    }

}